<%= form_for :person, url: people_path do |f| %>
  <h2>Name</h2>
  <div id="first-name">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div id="last-name">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="roles">
    <h2>Roles</h2>
  
    <%= f.submit %>
  </div>
<% end %>
